{% extends 'cabecera.html'  %}

{% block contenido %}


	  			<div class="row">
	  				<div class="col-md-6">
	  					<div class="content-box-large">
			  				<div class="panel-heading">
					            <div class="panel-title">Consola de comandos</div>
					          
					            <div class="panel-options">
					              <a href="#" data-rel="collapse"><i class="glyphicon glyphicon-refresh"></i></a>
					              <a href="#" data-rel="reload"><i class="glyphicon glyphicon-cog"></i></a>
					            </div>
					        </div>
			  				<div class="panel-body">
			  					 <div class="col-lg-12">
   										 <div class="input-group">
      										<span class="input-group-btn">
        										<button class="btn btn-default" id="enviarcomando" type="button">Ejecutar</button>
     										 </span>
     										 <input type="text" id ="comando" class="form-control" placeholder="comando tst">
   										 </div><!-- /input-group -->
  									</div><!-- /.col-lg-6 -->


  								<div class="col-sm-12">
								    	 <pre id="log">
								     	 	<div class="console-out"></div>
								     	 </pre>
								     
								</div>
								 
			  				</div>
			  			</div>
	  				</div>
	  			</div>

	  		<!--  Page content -->







{% endblock %}

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>

    <script src="{{ url_for('static', filename='vendors/form-helpers/js/bootstrap-formhelpers.min.js') }}"></script>

    <script src="{{ url_for('static', filename='vendors/select/bootstrap-select.min.js') }}"></script>

    <script src="{{ url_for('static', filename='vendors/tags/js/bootstrap-tags.min.js') }}"></script>

    <script src="{{ url_for('static', filename='vendors/mask/jquery.maskedinput.min.js') }}"></script>

    <script src="{{ url_for('static', filename='vendors/moment/moment.min.js') }}"></script>

    <script src="{{ url_for('static', filename='vendors/wizard/jquery.bootstrap.wizard.min.js') }}"></script>

     <!-- bootstrap-datetimepicker -->
     <link href="{{ url_for('static', filename='vendors/bootstrap-datetimepicker/datetimepicker.css') }}" rel="stylesheet">
     <script src="{{ url_for('static', filename='vendors/bootstrap-datetimepicker/bootstrap-datetimepicker.js') }}"></script> 
    <link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/>
	<script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>

    <script src="{{ url_for('static', filename='js/custom.js') }}"></script>
    <script src="{{ url_for('static', filename='js/forms.js') }}"></script>
