{% extends 'cabecera.html'  %}

{% block contenido %}
  			<div class="content-box-large">
  				
  				<div class="panel-body">
  					<table class="display" cellspacing="0" width="100%" id="equipos">
						<thead>
							<tr>
								
								<th>Nombre</th>
								<th>Serie</th>
								<th>Conexion</th>
								<th>Actualizacion</th>
								
								
							</tr>
						</thead>
						<tfood>
							<tr>

								
								<th>Nombre</th>
								<th>Serie</th>
								<th>Conexion</th>
								<th>Actualizacion</th>
								
								
							</tr>
						</tfood>
					</table>
  				</div>
  			</div>



		  </div>
		</div>
    </div>
{% endblock %}

   
